<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LoginBank" parallel="tests" thread-count="3">


	<test name="Test Login on Chrome">
		<parameter name="DriverType" value="Chrome" />
		<classes>
			<class name="tests.TestLoginBank" />
		</classes>
	</test>

	<test name="Test Login on FireFox">
		<parameter name="DriverType" value="Fire fox" />
		<classes>
			<class name="tests.TestLoginBank" />
		</classes>
	</test>

	<test name="Test Login on IE">
		<parameter name="DriverType" value="InternetExplore" />
		<classes>
			<class name="tests.TestLoginBank" />
		</classes>
	</test>
		
	<test name="Test SavingsAdd on Chrome">
		<parameter name="DriverType" value="Chrome" />
		<parameter name="Menu" value="SavingsAdd" />
		<classes>
			<class name="tests.TestSavingsAdd" />
		</classes>
	</test>


</suite>

